<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h2>Iniciar Sesion</h2>
    <form method="post" action="/login">
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required><br>
    <label for="contraseña">Contraseña:</label>
    <input type="contraseña" id="contraseña" name="contraseña" required><br>
    <button type="submit">Acceder</button>
</form>
<p>¿No tienes una cuenta? <a href="registro.html">Registrate Aquí</a></p>
</body>
</html>